.wrapper {
    background-color: #810606;
    .main {
        padding: 49px 0 32px;
        border-top: 0.8px solid #dfe1e6;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 16px;
            color: #ffffff;
            line-height: 19px;
            font-weight: normal;
        }

        .list_payment {
            display: flex;

            .payment_item {

            }
        }
    }

    &.mobile, &.tablet {
        .main {
            flex-wrap: wrap;
            border-top: none;
            padding: 24px 16px 32px;

            .title {
                width: unset;
                margin-bottom: 19px;
            }

            .icon_google {
                margin-bottom: 24px;
            }

            .icon_facebook {
                margin-bottom: 24px;
            }

            .hint {
                width: unset;
            }
        }
    }
}
