.wrapper {
    width: 80%;
    display: flex;
        justify-content: center;
        align-items: center;
    .form_total {
        width: 100%;
        .left_content {
            .star {
                // display: flex;
            }
        }
    }
}
